body {
  overflow: hidden;
}
footer {
  background: #fff;
  bottom: 0;
  margin: 0;
  position: fixed;
  width: 100vw;
  z-index: 9999;
}
.col {
  flex: 1;
}
.question {
  border: 1px solid #e0e0e0;
}
.question-container {
  padding: 5%;
  height: 100%;
}
.question-name {
  text-align: center;
  margin: 0;
}
.row {
  display: flex;
}
.console {
  margin: 0;
  text-align: center;
}
.section {
  height: 100vh;
}
.section-title {
  margin-top: 1% !important;
  text-align: center;
}
.special-input {
  border: none !important;
  font-size: 20pt !important;
  text-align: center;
}
.special-btn-wrap {
  text-align: center;
}